.card-group{
    width: 80%;
    min-height: 500px;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}

.border{
    border: 1px black solid;
}

.card{
    width: 30%;
    min-height: 500px;
    padding: 10px;
    border-radius: 10px;
    
}

.card-image > img{
    width: 100%;
}

.card-body > p{
    line-height: 20px;
    text-align: justify;
}

.card-footer{
    display: flex;
    justify-content: space-betwee;
}