.parent{
    height: 500px;
    width: 60%;
    background-color: beige;
    border: 3px black solid;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    
}

.child{
    border: 5px black solid;
}

.parent>:nth-child(1){
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: brown;
}

.parent>:nth-child(2){
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: bisque;
}

.parent>:nth-child(3){
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: aqua;
}

.parent>:nth-child(4){
    grid-column-start: 4;
    grid-column-end: 6;
    background-color: chocolate;
}

.parent>:nth-child(5){
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgb(109, 62, 28);
}

.parent>:nth-child(6){
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
    
}

.parent>:nth-child(7){
    grid-column-start: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: crimson;
}

.parent>:nth-child(8){
    grid-row-start: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: red;
}

.parent>:nth-child(9){
    grid-row-start: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: aquamarine;
}