.border{
    border: 2px black solid;
}

.header,.footer{
    width: 30%;
    height: 50px;
}

.header{
    margin-left: 400px;
    padding-left: 50px;
}

.footer{
    margin-top: 450px;
    margin-left: 400px;
}